.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.footer ul{
    display:flex;
    align-items: center;
    gap: 35px;
    margin:20px;
}

.footer ul li{
    list-style-type: none;
    font-size: 14px;
    color: #252525;
}


.f-icons{
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 30px 0;

}
.social{
    padding: 5px;
    background-color: #cccccc2c;
    cursor: pointer;
}
.social img{
    width: 100%;
}


.footer hr{
    width: 65%;
    height: 3px;
    margin: 10px 0;
    background-color: #ccc;
    border: 0;
}

/* responsive ness  */

@media only screen and (max-width:650px){
    .footer .logo p{
        display: unset;
    }
    .footer ul{
        gap: 10px;
    }
    .footer ul li{
        font-size: 12px;
    }
    .social{
        width: 30px;
    }
    .social img{
        width: 100%;
    }
    .footer:last-child{
        font-size: 12px;
    }
}